.box
{
    line-height: 1.5;
    padding:.5rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: .375rem;
    background-color: rgb(233, 236, 239);
}

.box.transparent
{
    background-color: transparent;
}
.box.top-left-box
{
    border-radius: 0px;
    border-top-left-radius: .375rem;
}
.box.top-midle-box
{
    border-radius: 0px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
}
.box.top-right-box
{
    border-radius: 0px;
    border-top-right-radius: .375rem;
}
.box.bottom-left-box
{
    border-radius: 0px;
    border-bottom-left-radius: .375rem;
}
.box.bottom-right-box
{
    border-radius: 0px;
    border-bottom-right-radius: .375rem;
}
.box.bottom-midle-box
{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
.box.left-box
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.box.right-box
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.box.top-box
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.box.bottom-box
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.box.center-box
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.box.bold-top
{
    border-top:3px solid rgb(59, 59, 59)
}
.box.bold-right
{
    border-right:3px solid rgb(59, 59, 59)
}
.box.bold-left
{
    border-left:3px solid rgb(59, 59, 59)
}
.box.bold-bottom
{
    border-bottom:3px solid rgb(59, 59, 59)
}

.box.none-top
{
    border-top:none
}
.box.none-right
{
    border-right:none
}
.box.none-left
{
    border-left:none
}
.box.none-bottom
{
    border-bottom:none
}
.box.bold-all
{
    border:3px solid rgb(59, 59, 59)
    
}
.box.no-pad
{
    padding: 0 0;
}
.box.wrap,.box.wrap *
{
    border-collapse: separate;
    border-spacing: 0;
}
input.box
{
    background-color: white;
}

.box.box-white
{
    background-color: white;
}

.box.w-100
{
    width: 100%;
}
.box.box-p-1
{
    padding: 1rem 1rem;
}

.box-overflow
{
    overflow: scroll;
}

.box-button.box
{
    width: 100%;
    text-align: center;
    transition: .2s;
}
.box-button.box:hover
{
    color: #212529;
    background-color: #959595;
    font-weight: bold;
}
.box-button:focus
{
    color: #212529;
    background-color: #676767;
    font-weight: bold;
}
.box.box-fh
{
    height: 100%;
}
.box.box-white:disabled
{
    background-color: rgb(233, 236, 239);
}

