table,table th,table tr,table td
{
    border-collapse: separate;
    border-spacing: 0; 
}
table th,table tr,table td
{
    padding: .375rem .375rem;
    border: 1px solid rgba(0,0,0,0.18);
    line-height: 1.5;
}

table th
{
    border-top: none;
    border-right:none;
    width: 100%;
    height: 50px;
    background: white;
    position: sticky;
    top: 0;
}
table th:first-child
{
    /* border-left: 3px solid black; */
    border-left: none;
    border-top-left-radius:.375rem;
}
table th:last-child
{
    /* border-right: 3px solid black; */
    border-right: none;
    border-top-right-radius: .375rem;
}
table tr td
{
    border-top:none;
    border-right:none;
}
table tr td:first-child
{
    /* border-left:3px solid black; */
    border-left: none
}
table tr td:last-child
{
    /* border-right: 3px solid black; */
    border-right: none;
}
table tr:last-child td
{
    /* border-bottom: 3px solid black; */
    border-bottom: none;
}

table tr:last-child td:first-child
{
    border-bottom-left-radius:.375rem;
}

table tr:last-child td:last-child
{
    border-bottom-right-radius:.375rem;
}
table img
{
    width: 100%;
    border-radius: .375rem;
}
