<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Start CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <!-- End CSS -->

    <!-- Start JS -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/controller/bookDetail.js"></script>
    <script src="/lib/@popperjs/core/dist/umd/popper.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body ng-app="myApp">
    <!-- -------------------------------------------------- -->
    <!--                       Header                       -->
    <!-- -------------------------------------------------- -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark customHeader" ng-controller="headerCtr">
        <a class="navbar-brand" href="#" style="margin-left: 10px;">B19DCAT208</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav" >
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="headerCategoryMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thể loại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="headerCategoryMenu">
                        <a class="dropdown-item" href="/category">Tất cả</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-repeat="cate in header.categories" href="/category/{{cate.id}}">{{cate.name}} ({{cate.count}})</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="headerAuthorMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tác giả
                    </a>
                    <div class="dropdown-menu" aria-labelledby="headerAuthorMenu">
                        <a class="dropdown-item" href="/author">Tất cả</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-repeat="auth in header.authors" href="/author/{{auth.id}}">{{auth.name}} ({{auth.count}})</a>
                    </div>
                </li>
                <li class="nav-item" ng-show="$cookies.key=='' ||$cookies.key== undefined">
                    <a class="nav-link" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item" ng-hide="$cookies.key=='' ||$cookies.key== undefined">
                    <a class="nav-link" href="/profile">Trang các nhân</a>
                </li>
            </ul>
        </div>
    </nav>
</body>