<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Start CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
    <!-- <link href="/css/index.css" rel="stylesheet"> -->
    <link href="/css/customButton.css" rel="stylesheet">
    <link href="/css/box.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
    <link href="/css/grid.css" rel="stylesheet">
    <link href="/lib/fontawesome-4.7/css/font-awesome.css" rel="stylesheet">
    
    <!-- End CSS -->

    <!-- Start JS -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/controller/profileCtr.js"></script>
    <script src="/lib/@popperjs/core/dist/umd/popper.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body ng-app="myApp">

    <!-- -------------------------------------------------- -->
    <!--            Sửa thông tin tài khoản                 -->
    <!-- -------------------------------------------------- -->
    <div ng-controller="profileCtr">
        <div class="mainMenu profileTab">
            <button ng-style="adminTab.currentTabStyle(tab.index)" ng-if="tab.visible == 1|| accountType == 1"
                ng-click="adminTab.changeTab(tab.index)" ng-repeat="tab in adminTab.data">{{tab.name}}</button>
        </div>
        <div class="mainMenu body">
            <div class="box box-white h-100 box-p-1 box-overflow">
                <div ng-show="adminTab.currentTab == 1">
                    <h2 style="text-align:center">Thông tin chủ tài khoản</h2>
                    <div class="grid-2" style="margin-bottom: 16px;">
                        <div class="grid-child">
                            <div class="box top-box none-bottom">
                                <span>Chủ tài khoản</span>
                            </div>
                            
                            <div class="input-group" style="width:100%">
                                <input class="form-control form-control-text" ng-disabled="profileEditToggle[0] == 0" ng-model="account.userData.name" type="text" style="border-top-left-radius:0rem ;">
                                <button class="input-group-text right_block own_button" ng-hide="profileEditToggle[0] == 0"
                                        ng-click="saveChange('name',account.userData.name,0,1)">
                                        <i class="fa fa-floppy-o" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                </button>
                                <button class="input-group-text box bottom-right-box" ng-click="btnProfileEditToggle(0)">
                                    <i class="fa fa-window-close-o"  ng-show="profileEditToggle[0] == 1" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                    <i class="fa fa-pencil-square-o" ng-show="profileEditToggle[0] == 0" style="font-size: 1.5rem;width: 10%;" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="grid-child">
                            <div class="box top-box none-bottom">
                                <span>Ngày sinh</span>
                            </div>
                            <div class="input-group" style="width:100%">
                                <input class="form-control form-control-text" ng-disabled="profileEditToggle[1] == 0" ng-model="account.userData.dob" type="date" style="border-top-left-radius:0rem ;">
                                <button class="input-group-text right_block own_button" ng-hide="profileEditToggle[1] == 0"
                                        ng-click="saveChange('dob',account.userData.dob,1,1)">
                                        <i class="fa fa-floppy-o" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                </button>
                                <button class="input-group-text box bottom-right-box" ng-click="btnProfileEditToggle(1)">
                                    <i class="fa fa-window-close-o"  ng-show="profileEditToggle[1] == 1" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                    <i class="fa fa-pencil-square-o" ng-show="profileEditToggle[1] == 0" style="font-size: 1.5rem;width: 10%;" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-100">
                        <div class="box top-box none-bottom">
                            <span>Email</span>
                        </div>
                        <div class="input-group grid-100">
                            <input class="form-control form-control-text" ng-disabled="profileEditToggle[2] == 0" ng-model="account.userData.email" type="text" style="border-top-left-radius:0rem ;">
                            <button class="input-group-text right_block own_button" ng-hide="profileEditToggle[2] == 0"
                                    ng-click="saveChange('email',account.userData.email,2,1)">
                                    <i class="fa fa-floppy-o" style="font-size: 1.5rem;" aria-hidden="true"></i>
                            </button>
                            <button class="input-group-text box bottom-right-box" ng-click="btnProfileEditToggle(2)">
                                <i class="fa fa-window-close-o"  ng-show="profileEditToggle[2] == 1" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                <i class="fa fa-pencil-square-o" ng-show="profileEditToggle[2] == 0" style="font-size: 1.5rem;width: 10%;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <h2 style="text-align:center">Thông tin tài khoản</h2>
                    <div class="grid-3-stick ">
                        <div class="grid-child">
                            <div class="box top-left-box text-center">
                                Tên đăng nhập
                            </div>
                            <div class="box bottom-left-box none-top text-center">
                                {{account.accountData.username}}
                            </div>
                        </div>
                        <div class="grid-child">
                            <div class="box center-box none-left none-right text-center">
                                Mật khẩu
                            </div>
                            <button class="box center-box none-top none-left none-right box-button">
                                Đổi mật khẩu
                            </button>
                        </div>
                        <div class="grid-child">
                            <div class="box top-right-box text-center text-center">
                                Loại tài khoản
                            </div>
                            <div class="box bottom-right-box none-top text-center">
                                {{account.accountData.mode}}
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="adminTab.currentTab == 2" ng-if="accountType == 1">
                    
                </div>
                <div ng-show="adminTab.currentTab == 3" ng-if="accountType == 1">
                    Test 3
                </div>
                <div ng-show="adminTab.currentTab == 4">
                    <div class="box top-box no-pad cartHistory">
                        <table>
                            <thead>
                                <th style="width: 2%;text-align: center;">STT</th>
                                <th style="width: 20%;text-align: center;">Tên Sách</th>
                                <th style="width: 20%;text-align: center;">Thời gian mua</th>
                                <th style="width: 25%;text-align: center;">Số lượng</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in cart">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>
                                        <div>
                                            <a href="/book/{{i.book.id}}" class="categoryA">{{i.book.name}} ({{i.book.id}})</a>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Thể loại: </span>
                                            <a href="/category/{{i.book.category.id}}" class="categoryA">{{i.book.category.id}}</a>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Ngày phát hành: </span>
                                            {{i.book.date}}
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {{i.date}}
                                    </td>
                                    <td>
                                        <div style="display:flex">
                                            <input type="number" ng-disabled="!i.isEdited" class="box box-white left-box" min="1" ng-model="i.value" style="width: 85%;height: 100%;font-size: 1.2rem;">
                                            <button class="input-group-text box center-box none-left" ng-click="editCart(i,$index)" style="width: 7%;" ng-show="!i.isEdited">
                                                <i class="fa fa-pencil-square-o" style="font-size: 1.5rem;width: 10%;" aria-hidden="true"></i>
                                            </button>
                                            <button class="box right-box text-center none-left" style="width: 8%;" ng-click="deleteCart(i)" ng-show="!i.isEdited">
                                                <i class="fa fa-trash-o" style="font-size: 1.2rem;" aria-hidden="true"></i>
                                            </button>
                                            <button class="input-group-text box center-box none-left" ng-click="cartUpload(i)" style="width: 7%;" ng-show="i.isEdited">
                                                <i class="fa fa-floppy-o" style="font-size: 1.5rem;" aria-hidden="true"></i>
                                            </button>
                                            <button class="box right-box text-center none-left" style="width: 8%;" ng-click="editCart(i,$index)" ng-show="i.isEdited">
                                                <i class="fa fa-window-close-o"  style="font-size: 1.5rem" aria-hidden="true"></i>
                                            </button>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="cartRecord" ng-repeat="i in cart">
                            <div class="box left-box" style="width: 60%;">
                                <span>{{i.book.name}}</span>
                            </div>
                            <div class="box center-box none-left" style="width: 20%;">
                                <span>{{i.date}}</span>
                            </div>
                            <input type="number" class="box center-box none-left" min="1" ng-model="i.value" style="width: 15%;">
                            <button class="box right-box text-center none-left" style="width: 5%;" ng-click="deleteCart(i)">
                                <i class="fa fa-trash-o" style="font-size: 1.5rem;" aria-hidden="true"></i>
                            </button>
                        </div> -->
                        <span ng-show="cart.length == 0">Bạn chưa đặt đơn hàng nào</span>
                    </div>
                    <div class="cartSum box bottom-box none-top">
                        <button class="own_button box">Thanh toán</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------------------------------------- -->
    <!--                       Header                       -->
    <!-- -------------------------------------------------- -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark customHeader" ng-controller="headerCtr">
        <a class="navbar-brand" href="/" style="margin-left: 50px;">B19DCAT208</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav" >
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="headerCategoryMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thể loại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="headerCategoryMenu">
                        <a class="dropdown-item" href="/category">Tất cả</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-repeat="cate in header.categories" href="/category/{{cate.id}}">{{cate.name}} ({{cate.count}})</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="headerAuthorMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tác giả
                    </a>
                    <div class="dropdown-menu" aria-labelledby="headerAuthorMenu">
                        <a class="dropdown-item" href="/author">Tất cả</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-repeat="auth in header.authors" href="/author/{{auth.id}}">{{auth.name}} ({{auth.count}})</a>
                    </div>
                </li>
                <li class="nav-item" ng-show="key=='' ||key== undefined">
                    <a class="nav-link" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item dropdown" ng-if="key !='' &&key != undefined">
                    <a class="nav-link dropdown-toggle" id="headerAuthorMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="headerAuthorMenu">
                        <a class="dropdown-item" href="/profile">Trang cá nhân</a>
                        <a class="dropdown-item" href="/#" ng-click="logout()">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>